<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>InstaClone</title>
    <script defer src="http://localhost:3000/scoket.io/socket.io.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="message-container"></div>
        <form id="send-container">
          <input type="text" id="message-input">
          <button type="submit" id="send-button">Send</button>
        </form>

  <script src="script.js"></script>
  </body>
</html> -->
