<!doctype html>
<html>
<head>
    <title>SBH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">



        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup-user" class="btn btn-default"><span class="fa fa-user"></span>Signup(find a business)</a>
        <a href="/signup-business" class="btn btn-default"><span class="fa fa-user"></span>Signup(as a business)</a>

    </div>

</div>
</body>
</html>
